<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.LikesMapper" >
  <resultMap id="BaseResultMap" type="po.Likes" >
    <id column="likes_id" property="likesId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="weibo_id" property="weiboId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    likes_id, user_id, weibo_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="po.LikesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from likes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from likes
    where likes_id = #{likesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from likes
    where likes_id = #{likesId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="po.LikesExample" >
    delete from likes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="po.Likes" >
    insert into likes (likes_id, user_id, weibo_id
      )
    values (#{likesId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{weiboId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="po.Likes" >
    insert into likes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="likesId != null" >
        likes_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="weiboId != null" >
        weibo_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="likesId != null" >
        #{likesId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="weiboId != null" >
        #{weiboId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="po.LikesExample" resultType="java.lang.Integer" >
    select count(*) from likes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update likes
    <set >
      <if test="record.likesId != null" >
        likes_id = #{record.likesId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.weiboId != null" >
        weibo_id = #{record.weiboId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update likes
    set likes_id = #{record.likesId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      weibo_id = #{record.weiboId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="po.Likes" >
    update likes
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="weiboId != null" >
        weibo_id = #{weiboId,jdbcType=INTEGER},
      </if>
    </set>
    where likes_id = #{likesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.Likes" >
    update likes
    set user_id = #{userId,jdbcType=INTEGER},
      weibo_id = #{weiboId,jdbcType=INTEGER}
    where likes_id = #{likesId,jdbcType=INTEGER}
  </update>
</mapper>